.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo {
  margin-top: 40px;
}

.todo-app {
  margin: auto;
  margin-top: 50px;
  width: 40%;
}

.title {
  font-size: 16px;
  font-weight: 600;

}

.main-title {
  font-size: 20px;
  font-weight: 500;
}

button {
  background-color: rgb(115, 0, 115);
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  cursor: pointer;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px;
  align-items: center;
  height: 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 2px 0px;
}

.list-item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input {
  width: 500px;
  padding: 10px;
  border-color: rgb(115, 0, 115);
  margin-left: 5px;
}

.pending,
.completed {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 575px;
  margin-top: 20px;
}

.pending-header-title,
.completed-header-title {
  width: 100%;
  padding: 12px 20px;
}

.pending-header-title {
  background-color: rgba(203, 4, 4, 0.834);
}

.completed-header-title {
  background-color: rgba(73, 255, 37, 0.834);
}

.text-center {
  text-align: center;
  justify-content: center;
}

hr {
  color: dimgray;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.spinner {
  height: 40px;
  width: 40px;
  border: 2px solid blue;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    rotate: 360deg;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 5px 100px 0px;
}

.navbar h2 {
  flex: 1 1 70%;
  padding-left: 10%;
}

.navbar .actions {
  flex: 1 1 30%;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.notFound {
  font-size: 20px;
}

.dueDate {
  font-size: 12px;
}

.inputbox {
  margin: 10px;
}

.header {
  margin-top: 20px;
  align-items: start;
}
